{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <header>
        <h1 data-animated="GoIn">your subscriptions counter</h1>
    </header>

    <div id="timer" data-animated="FadeIn">
        <p id="message">OUR SITE IS NOT READY YET...</p>
        <div id="days" class="timer_box"><h1>{{ ys }}</H1><p>YouTube</p></div>
        <div id="hours" class="timer_box"><h1>{{ tf }}</h1><p>Twitter</p></div>
        <div id="minutes" class="timer_box"><h1>{{ instagram }}</h1><p>Instagram</p></div>
        <div id="seconds" class="timer_box"><h1>{{ ff }}</h1><p>Facebook</p></div>
    </div>
{% endblock %}